{% extends widget.get_base_template %}
{% load static from staticfiles %}
{% block content %}
<div id="timetable_{{ widget.fe_identifier }}">
</div>
<table>
<thead><th>Date<th>
{% for metric in widget.get_metrics %}
<th>{{ metric.name }}</th>
{% endfor %}
</thead>
<tbody></tbody>
</table>
<script type="text/javascript">
$(function(){
  loadResource({src:'{% static "vis/js/charts/timetable.js" %}',callback: function(){
    leonardo.charts.timetable.create({
      chartSelector:"#timetable_{{ widget.fe_identifier }}",
      containerSelector:"#{{ widget.fe_identifier }}",
      url: "{{ widget.get_data_url }}",
      requestData:{widget_id:$("#timetable_{{ widget.fe_identifier }}").closest("div.leonardo-widget").attr('id')},
      updateInterval:{{ widget.refresh_interval }} * 1000
    });
  }});
});
</script>
{% endblock %}
