{% extends widget.get_base_template %}

{% block content %}
<div id="barchart_{{ widget.fe_identifier }}"><svg></svg></div>

<script type="text/javascript">

function set_barchart_{{ widget.id }}_height() {
  var containerHeight = $("#{{ widget.fe_identifier }}").height(),
      svgHeight = containerHeight < 150 ? 150 : containerHeight;
  
  $('#barchart_{{ widget.fe_identifier }} svg').height(svgHeight);
}

$(document).ready(function() {

  nv.addGraph(function() {
    var chart = nv.models.barchart()
                  .margin({left: 100}) 
                  .showLegend(true)      
                  .showYAxis(true)       
                  .showXAxis(true)
                  .forceY([0, 0.01])
                  .useInteractiveGuideline(true);
  
    chart.xAxis    
        .axisLabel('Time (ms)')
//        .tickFormat(d3.format(',r'));
        .tickFormat(function(d){return d3.time.format('%d-%b')(new Date(d*1000));});
  
    chart.yAxis   
        .axisLabel('Voltage (v)')
        .tickFormat(d3.format('.04f'));
    {% autoescape off %} 
    var myData = {{ widget.get_data }};
    {% endautoescape %}
   //sinAndCos(); 
  
    d3.select('#barchart_{{ widget.fe_identifier }} svg')
        .datum(myData)    
        .call(chart);     
 
    //Update the chart when window resizes.
    nv.utils.windowResize(function() { chart.update() });
    return chart;
  });

  set_barchart_{{ widget.id }}_height();
  $( window ).resize(set_barchart_{{ widget.id }}_height);

});  

</script>
{% endblock %}        
