{% extends widget.get_base_template %}
{% load static from staticfiles %}

{% block content %}
<div id="line_chart_{{ widget.fe_identifier }}"><svg></svg></div>

<script type="text/javascript">
  $(function(){
    loadResource({src:'{% static "vis/js/charts/linechart.js" %}',callback: function(){
      leonardo.charts.linechart.create({
        chartSelector:"#line_chart_{{ widget.fe_identifier }} svg",
        containerSelector:"#{{ widget.fe_identifier }}",
        url: "/data/data/",
        requestData:{widget_id:$("#line_chart_{{ widget.fe_identifier }}").closest("div.leonardo-widget").attr('id')},
        updateInterval:{{ widget.refresh_interval }} * 1000,
        interpolation:"{{ widget.interpolation }}"});
    }});
  }); 
</script>
{% endblock %}
