{% extends widget.get_base_template %}
{% load static from staticfiles %}
{% load jsonify %}

{% block content %}
<div class="systemchart overlayContainer" id="systemchart_{{ widget.fe_identifier }}">
    <img class="svgFill" src="{{ widget.background.url }}"/>
    <div id="SystemChartOverlay" class="overlay">
        {% for chart in widget.get_charts %}
        <div id="outer_{{ widget.fe_identifier }}_{{ forloop.counter0 }}" style="width:150px;height:150px;">
            <div id="inner_{{ widget.fe_identifier }}_{{ forloop.counter0 }}"></div>
        </div>
        {% endfor %}
    </div>
</div>
<script type="text/javascript">
{% for chart in widget.get_charts %}
$(function(){
  $("#systemchart_{{ widget.fe_identifier }} img").imagesLoaded(function(){
      leonardo.fn.loadResource({src:'{% static "vis/js/charts/gauge.js" %}',callback: function(){
        leonardo.charts.createChart("{{ chart.chart }}",$.extend({},{
          chartSelector:"#inner_{{ widget.fe_identifier }}_{{ forloop.counter0 }}",
          containerSelector:"#outer_{{ widget.fe_identifier }}_{{ forloop.counter0 }}",
          url: "{{ widget.get_data_url }}",
          requestData: {
            widget_id: "{{ widget.fe_identifier }}",
            kwargs:
              JSON.stringify({
                row: {{ forloop.counter0 }}
              })
          },
          updateInterval:{{ widget.refresh_interval }} * 1000,
        },JSON.parse('{{ chart.chart_config|jsonify }}')));
      }
    });
    var $systemchart = $("#systemchart_{{ widget.fe_identifier }} img"), 
        $chartContainer=$("#outer_{{ widget.fe_identifier }}_{{ forloop.counter0 }}"), 
        chartX={{ chart.x }}, 
        chartY={{ chart.y }},
        placeWidgetFn = function(){
          var chartContainerCenter={height:$systemchart.height()/2,width:$systemchart.width()/2};
          $chartContainer.css("position","absolute");
          $chartContainer.css("left",(chartContainerCenter.width+(chartContainerCenter.width*chartX) - ($chartContainer.width()/2)));
          
          $chartContainer.css("top",(chartContainerCenter.height+(chartContainerCenter.height*chartY) - ($chartContainer.height()/2)) - chartY*$systemchart.height());
    };
    placeWidgetFn();
    $(window).on('resize',placeWidgetFn);
  });
});
{% endfor %}

//console.log('{{ widget.get_charts }}');
</script>
{% endblock %}
