{% extends widget.get_base_template %}

{% block content %}
<div class="donutchart" id="donutchart_{{ widget.fe_identifier }}"><svg></svg></div>
<script type="text/javascript">
$(document).ready(function() {
  nv.addGraph(function() {
    var chart = nv.models.pieChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value })
      .labelType("value") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
      .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
      .donutRatio(0.35)  
      .showLabels(true);

    d3.select("#donutchart_{{ widget.fe_identifier }} svg")
      .datum({% autoescape off %}{{ widget.get_graph_data }}{% endautoescape %})
      .transition().duration(350)
      .call(chart);

    return chart;
  });
});
</script>
{% endblock %}
